@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
html, body {
  margin: 0;
   background-image: url("moon.jpg");
  background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: 100%;
font-family: 'Play', sans-serif;

}
p {
  /* Center horizontally*/
  text-align: center;
}

canvas {
  display: block;
  margin: auto;
  padding: 50px;
}

button {
  font-family: 'Play', sans-serif;
  font-weight: bold;
  font-size: large;
  margin: auto;
  display: block;
  padding: 10px;
  color: #ffffff;
  background-color: #9b42f5;
  border-radius: 20%;
  border-style: solid;
  border-color: inherit;
  width: 200px;
  height: 50px;
  outline: none;

}
